/* Styles go here */

body {
	color:whitesmoke;
}
h1 {
	font-family: 'Audiowide', cursive;
}

span {
	font-family: 'Permanent Marker', cursive;
}
.content {
	font-family: 'Josefin Sans', sans-serif;
}

#clickbutt {

}

.ratgif {
	float:right;
	margin-right: 410px;
	margin-top:0px;
	height:100px;
	width:100px;
}