/* Styles go here */

body {
	color:whitesmoke;
}
h1 {
	font-family: 'Audiowide', cursive;
}

#scratchy{
	font-family: 'Permanent Marker', cursive;
}
.content, p {
	font-family: 'Josefin Sans', sans-serif;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	width:350px;
	height:400px;
}

.ratgif {
	margin: 0px 10px 10px;
	height:100px;
	width:100px;
}

.strike {
	text-decoration:line-through;
}

.option {
	color:red;
}

