/* Styles go here */

body {
	color:whitesmoke;
}
h1 {
	font-family: 'Audiowide', cursive;
}

span {
	font-family: 'Permanent Marker', cursive;
}
.content {
	font-family: 'Josefin Sans', sans-serif;
}

.simonzon{
width:250px;
height:300px;
}

.ratgif {
	margin-right: 10px;
	margin-top:0px;
	height:100px;
	width:100px;
}

.youWantThis {
	text-align: center;
}
